<div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/list" routerLinkActive="active">All polls</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create" routerLinkActive="active">Create</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup / login</a>
        </li>
      </ul>
  <router-outlet></router-outlet>
</div>
